.linkAccount {
  margin: 0;
  height: 100vh;
  background-image: url('https://media.contentapi.ea.com/content/dam/apex-legends/common/apex-section-bg-about-scenery-beige-xl.jpg.adapt.1920w.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkAccount h1 {
  text-align: center;
  margin: 40px;
  color: black;
}
