.profile {
  min-height: 100vh;
  background-image: url('https://media.contentapi.ea.com/content/dam/apex-legends/common/apex-section-bg-about-scenery-beige-xl.jpg.adapt.1920w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  color: white;
}

.profile-container {
  max-width: 1200px;
  min-height: 600px;
  width: 80%;
  margin: auto;
  background-color: #B93038;
  border-radius: 10px;
  display: flex;
}

.profile-details {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,.5);
  text-align: center;
  width: 30%;
  height: 80%;
  border-radius: 10px;
}

.profile-pic {
  margin: 15px 10px 5px 10px;
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.profile-username {
  margin: 0 0 15px 0;
  font-size: 3vw;
}

.profile-info-container{
  margin: 0 0 20px 0;
  border-top-right-radius: 10px;
}

.profile-data-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.profile select {
  margin: 5px 0;
  outline: none;
  color: white;
  text-align: center;
  padding: 2px;
  font-size: 20px;
  background-color:rgba(0, 0, 0, 0) ;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.profile select:hover {
  cursor: pointer;
}

.profile a {
  color: white;
  text-decoration: none;
}

.profile a:hover {
  cursor: pointer;
}

.profile-table-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}


@media (max-width: 800px){
  .profile-username {
    font-size: 24px;
  }

  .profile select {
    font-size: 18px;
  }

}

.reward-button {
  width: 60%;
  font-size: 12px;
  font-weight: bold;
}

.profile-matches-table {
  margin: 0;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  color: black;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


td, th {
  padding: 12px 15px;
}

th {
  background-color: #B93038;
  color: white;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

.profile-matches-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.profile-matches-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 650px) {


    .reward-button {
      width: 70%;
      font-size: 2vw;
      font-weight: bold;
      padding: 2px;
    }

    .profile-matches-table {
      font-size: 11px;
      margin: 0;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      color: black;
      border-collapse: collapse;
      background-color: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }


    .profile td, th {
      padding: 2vw .5vw;
    }


}

@media screen and (max-width: 1200px){
  .profile-container {
    display: flex;
    flex-direction: column;
  }

  .profile-details {
    max-height: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,.5);
    text-align: center;
    width: 100%;
    border-radius: 10px;
  }

  .profile-info-container {
    padding: 5px 0;
    margin: 0;
    max-width: none;
    min-width: none;
    width: 100%;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-data-container {
    max-width: none;
    min-width: none;
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .profile-data-container h3 {
    margin: 10px;
    text-align: center;
  }

  .profile-pic {
    border-radius: 50%;
    margin: 0 10px;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
  }

  .profile-username {
    margin: 0 10px;
    font-size: 3vw;
  }

  .profile select {
    text-align: left;
    margin: 0 5px;
    padding: 0;

  }

  .profile-match-table {
    padding: 20px 0;
  }

  .profile-table-container{
    padding: 25px 0;
  }

}

@media screen and (max-width: 550px){

  .profile {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .profile-container {
    margin: 0;
    width: 95%;
  }

  .profile-pic {
    visibility:  hidden;
    position: absolute;
  }

  .profile-username {
    font-size: 18px;
  }

  .profile-data-container{
    font-size: 12px;
  }

  .profile select {
    font-size: 15px;
  }

  .profile a {
    font-size: 9px;
  }

}
