.main-content-1{
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-image: url('https://media.contentapi.ea.com/content/dam/apex-legends/common/apex-section-bg-about-scenery-beige-xl.jpg.adapt.1920w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  margin: 30px 10%;
  padding: 1vw 0;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.instructions {
  text-align: center;
}
