.log-in-form {
  margin-top: 100px;
  max-width: 1000px;
  max-height: 200px;
  min-width: 250px;
  min-height: 192px;
  width: 30vw;
  border-radius: 10px;
  height: 20vw;
  background-color: #B93038;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 4.4564px rgba(0, 0, 0, 0.5);
}

.login-input {
  width: 80%;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0px 2px 2.4564px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  outline: none;
}

.login-input[type="submit"] {
  cursor: pointer;
  transition: all .2s ease-in-out;
  width: 83%;
}

.login-input[type="submit"]:hover{
  background-color: #e1dcd6;
}

.create-account {
  margin-top: 10px;
  font-size: 13px;
  color: white;
}

.demo-container {
  font-size: 1.5vw;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.demo-label {
  margin-left: 3px;
}

@media screen and (min-width: 1217px) {
  .demo-container {
    font-size: 17px;
  }
}

@media screen and (max-width: 863px) {
  .demo-container {
    font-size: 13px;
  }
}
